body {
    background-color: #76c5fd;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.button-container button:hover {
    background-color: #45a049;
}
