body {
    font-family: "Comfortaa", sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }

  .users {
    color: white;
    text-align: center;
  }

  .container { 
    margin-top: 10px;
  }  

  @media (min-width: 768px) {
    .container {
        max-width: 1020px;
    }
  }

  .text-center {
    display: flex;
  }

  .btn {
    flex-grow: 1;
    margin: 15px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }  